<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="buildJobsSection"
                   >
      <section name="buildJobs"
               type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false" />
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    
  </configSections>
  
  <appSettings>
    <!--Provide full path of the sound file to be played as the alarm-->
    <add key="alarmFile" value="D:\DFN\github\hudson-build-monitor\sounds\warning.mp3" />
    <!--Specify how frequently should the monitoring be done (in seconds)-->
    <add key="monitoringFrequency" value="2" />
  </appSettings>
  
  <!--The following section is used to list out the build jobs that should be monitored-->
  <buildJobsSection>
    <buildJobs>
      <!--Add each job as a key-value pair.-->
      <!--key = A name for the build job. Please note that this name should be unique-->
      <!--value= URL of the build job-->
    <add key="NGP_OMS" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_OMS/"/>
      <add key="MFG_OMS" value="http://192.168.0.23:4141/hudson-3.1.2/job/MFG_OMS/"/>
      <add key="EXCHANGE_SIMULATOR" value="http://192.168.0.23:4141/hudson-3.1.2/job/EXCHANGE_SIMULATOR/"/>
      <add key="MFG_TRS" value="http://192.168.0.23:4141/hudson-3.1.2/job/MFG_TRS/"/>
      <add key="MFG_TRS" value="http://192.168.0.23:4141/hudson-3.1.2/job/MFG_TRS/"/>
      <add key="NGP_MRE" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_MRE/"/>
      <add key="NGP_OMS_RND" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_OMS_RND/"/>
      <add key="NGP_TRS" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_TRS/"/>


    </buildJobs>
  </buildJobsSection>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value=" log.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
  </log4net>
  
</configuration>