<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Provide full path of the sound file to be played as the alarm-->
    <add key="alarmFile" value="D:\DFN\github\hudson-build-monitor\sounds\warning.mp3" />
    <!--API root of the Hudson server to be monitored-->
    <add key="apiRoot" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_OMS/" />
    <!--Specify how frequently should the monitoring be done (in seconds)-->
    <add key="monitoringFrequency" value="2" />
  </appSettings>
</configuration>