<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="buildJobsSection"
                   >
      <section name="buildJobs"
               type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!--Provide full path of the sound file to be played as the alarm-->
    <add key="alarmFile" value="D:\DFN\github\hudson-build-monitor\sounds\warning.mp3" />
    <!--API root of the Hudson server to be monitored-->
    <add key="apiRoot" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_OMS/" />
    <!--Specify how frequently should the monitoring be done (in seconds)-->
    <add key="monitoringFrequency" value="2" />
  </appSettings>
  
  <!--The following section is used to list out the build jobs that should be monitored-->
  <buildJobsSection>
    <buildJobs>
      <!--Add each job as a key-value pair.-->
      <!--key = A name for the build job-->
      <!--value= URL of the build job-->
    <add key="NGP_OMS" value="http://192.168.0.23:4141/hudson-3.1.2/job/NGP_OMS/"/>
      <add key="MFG_OMS" value="http://192.168.0.23:4141/hudson-3.1.2/job/MFG_OMS/"/>

    </buildJobs>
  </buildJobsSection>
</configuration>